.sd-column-box--vertical-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 250px);
}

.EventsPlanningFilter {
    .sd-column-box__slide-in-column {
        width: 40rem;
        flex-shrink: 0;
    }
}
