@import '~superdesk-core/styles/sass/variables.scss';

.assignments-list {
    width: 100%;
    padding-right: 20px;
    &__empty-msg {
        font-size: 1.75em;
        text-align: center;
        margin-top: 40px;
    }
    &__group {
        padding: 0 20px;
        .sd-list-item {
            margin-bottom: 10px;
        }
        + .assignments-list__group {
            .sd-list-item {
                border-top: 1px solid lighten( $grayLight, 30% );
            }
        }
    }
    &__title {
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .08em;
        margin-top: 20px;
        padding-bottom: 10px;
        span + span {
            margin-left: 6px;
        }
    }
    .media-box {
        padding-left: 0; // adapt to assignment (remove left padding)
    }
}
