@import '~superdesk-core/styles/sass/mixins.scss';
@import '~superdesk-core/styles/sass/variables.scss';
// required for extending .modal__backdrop :
@import '~superdesk-ui-framework/app/styles/_mixins.scss';
@import '~superdesk-ui-framework/app/styles/_modals.scss';


.modal-backdrop {
    @extend .modal__backdrop;
}

.modal__body {
    &--no-padding {
        padding: 0 !important;
    }

    &--full-height {
        height: 100% !important;
    }
}

.modal__content {
    width: 100% !important;
}
