@import '~superdesk-core/styles/sass/variables.scss';

.EventForm {
    > .subnav {
        align-items: center;
        padding-right: 10px;
    }
    .subnav__actions {
        display: flex;
        align-items: center;
    }
    [name="slugline"] {
        color: $sd-keyword;
        font-weight: 700;
    }
    [name="name"] {
        font-size: 17px;
        color: $gray;
    }
    .addgeolookup {
        display: table;
        &__input-wrapper {
            display: table-cell;
            width: 100%;
            padding: 5px 10px 0px 0px;
        }
        &__suggests-wrapper {
            display: table-row;
        }
    }
    // sub form to define a recurring date
    .recurring {
        &__ends {
            label { display: block }
            input[type="radio"] {
                margin-right: 10px;
                cursor: default; // is readonly but we don't want the forbidden cursor
            }
            input[type="text"],input[type="number"] {
                margin: 0 10px;
                width: 60px;
            }
        }
    }

    &__form {
        padding: 20px;
        margin-top: $nav-height;
        overflow: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        .dropdown {
            vertical-align: text-bottom;
            margin-right: 10px;
        }
        .lock-avatar {
            margin: 0;
        }
    }


    .history-preview {
        max-height: calc(100vh - 100px);
        overflow-y: scroll;
    }
}

.close-history {
    margin: 15px;

    > a {
        opacity: 0.8;
    }
}
