bower_components
node_modules
nbproject
bower
dist
dist/*
templates-cache.generated.js
.tmp
__pycache__
env
test-server/env
test-server/__pycache__
e2e-test-results
templates-cache.generated.js
.env
.python-version
.idea
npm-debug.log
*.egg-info
*.pyc
yarn.lock

# VIM related files
*.swo
*.swp
*.swn
*.swm
_build
_build_html
coverage/
.coverage*
htmlcov
.history/
.DS_Store
.vscode
