@import '~superdesk-core/styles/sass/variables.scss';

$EVENTS_LIST_WIDTH: 500px;

.Planning--show-events {
    .Planning__events-list { 
        width: $EVENTS_LIST_WIDTH; 
        .subnav { visibility: visible; }
    }
}

.Planning__events-list-container {
    height: 100%;
}

.Planning__events-list {
    width: 0;
    position: relative;
    display: flex;
    transition-property: width;
    transition-duration: .25s;
    padding-top: $nav-height;
    box-sizing: border-box;
    border-right: 3px solid #666;
    box-shadow: 2px 0 10px 0 rgba(0,0,0,.3);
    height: 100%;
    .subnav {
        visibility: hidden;
        > button {
            margin-top: 10px;
            margin-right: 10px;
        }
    }
}

