.AddEventForm {
    label { margin-top: 10px; }
    .day-picker-input {
        .react-datepicker__input-container {width: 100px;} // day selector
        .rc-time-picker-input {  // time selector
            width: 100px;
            cursor: default; // is readonly but we don't want the forbidden cursor
        }
    }
    // sub form to define a recurring date
    .recurring {
        &__ends {
            label { display: block }
            input[type="radio"] {
                margin-right: 10px;
                cursor: default; // is readonly but we don't want the forbidden cursor
            }
            input[type="text"],input[type="number"] {
                margin: 0 10px;
                width: 100px;
            }
        }
    }
}
