.modal-content > form {width:100%;} // prevent the form to break the flex
.day-picker-input {
    select {width: 100px;} // time selector
    .react-datepicker__input-container {width: 100px;} // day selector
}
