.Coverage {
    border: 1px solid #d8d8d8;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    position: relative;
    &__add-btn { width: 100%; }
    &__remove {
        position: absolute;
        top: 10px;
        right: 10px;
        border: 0;
        height: 30px;
        width: 30px;
        margin: 3px;
        background: none;
        text-align: center;
        display: block;
        line-height: 0;
        opacity: .6;
        &:hover { opacity: 1 }
    }
}
