@import '~variables.scss';

.events-list {
    overflow: auto;
    height: 100%;
    &__title {
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .08em;
        margin-top: 20px;
        padding-bottom: 5px;
    }
    &__list {
    }
}
$PADDING-ITEM :5px 20px;
$BACKGROUND-ITEM: lighten($sd-blue, 30%);
.event {
    &__list-item {
        position: relative;
        cursor: pointer;
        box-shadow: 1px 8px 3px -7px rgba(0, 0, 0, 0.2);
        margin-bottom: 5px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.08);
        &:hover {
            background-color: $BACKGROUND-ITEM;
            .event__more-actions {
                display: block;
            }
        }
    }
    &__more-actions {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        button.dropdown__toggle {
            background-color: $BACKGROUND-ITEM;
            border-radius: unset;
            height: 100%;
            &:hover {
                background-color: $BACKGROUND-ITEM;
            }
        }
        .dropdown__menu {  left: auto; right: 0; } // flip alignment of the menu to right
    }
    &__wrapper {
        padding: $PADDING-ITEM;
    }
    &__time {
        position: absolute;
        right: 0;
        top: 0;
        padding: $PADDING-ITEM;
    }
    &__unique-name {padding-right: 40px;}
}
