@import '~variables.scss';

.events-list {
    overflow: auto;
    height: 100%;
    &__empty-msg {
        font-size: 1.75em;
        text-align: center;
        margin-top: 40px;
    }
    &__title {
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .08em;
        margin-top: 20px;
        padding-bottom: 5px;
    }
    .media-box {
        padding-left: 0; // adapt to event (remove left padding)
    }
}

.ListItem {
    &__list-item {
        .media-box {
            overflow: visible;  // let the dropdown visible
            .item-info {
                .line { margin-left: 0; }
                .highlights-box { margin-right: 0; }
                // second line, with location and icons
                .line:nth-child(2) { .container { flex-grow: 1 } }
            }
            &:hover {
                .item-info { padding-right: 50px; }
            }
        }
        &:hover .ListItem__more-actions { display: block; }
    }
    &__more-actions {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        button.dropdown__toggle {
            border-radius: unset;
            height: 100%;
        }
        .dropdown__menu {  left: auto; right: 0; } // flip alignment of the menu to right
    }
}
