.geosuggest {
    &__suggests {
        overflow: auto;
        left: 0;
        z-index: $zindexDropdown;
        min-width: 200px;
        margin: 0; // override default ul
        list-style: none;
        background-color: $dropdownBackground;
        box-shadow: 0 2px 10px rgba(0,0,0,.4),0 3px 1px -2px rgba(0,0,0,.1);
        border-radius: 2px;
        text-align: left;
    }
    &__item {
        font-weight: normal;
        line-height: $baseLineHeight;
        white-space: nowrap;
        width: 100%;
        position: relative;
        color: $dropdownLinkColor;
        background: none;
        padding: .6rem 1.6rem;
        margin-bottom: .2rem;
        text-decoration: none;
        text-align: left;
        &:hover, &:focus {
            background: $dropdownLinkBackgroundHover;
            text-decoration: none;
            cursor: pointer;
        }
        &:active {
            background: darken($dropdownLinkBackgroundHover, 10%);
        }
        &.disabled:hover, &[disabled]:hover {
            background: none;
            cursor: default;
        }
    }
}
