@import '~superdesk-core/styles/sass/mixins.scss';
@import '~superdesk-core/styles/sass/variables.scss';
@import './typeahead.scss';

$EVENTS_LIST_WIDTH: 500px;

@mixin absolute0 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.Planning {
    @include absolute0;
    top: $nav-height;
    display: flex;
    .navbtn { // fix the (+) button. Needed because it's not a dropdown
        overflow: hidden;
        padding: 0;
        button {border: 0;}
    }
    .subnav { top: 0; }
}
.Planning__planning {
    position: relative;
    flex-grow: 1;
    padding-top: $nav-height;
    transition-property: width;
    transition-duration: .25s;
    overflow: auto;
}
.Planning--show-events {
    .Planning__events-list { width: $EVENTS_LIST_WIDTH; }
}

// a vertical align on this class ensure an aligned icon with text.
// It's isolated to this plugin to avoid unwanted effect on the rest of the app
.Planning, .AddEventForm { .icon-desk-attach { vertical-align: middle; } }
