@import '~superdesk-core/styles/sass/mixins.scss';
@import '~superdesk-core/styles/sass/variables.scss';
@import '~superdesk-ui-framework/app/styles/variables/_colors.scss';

@mixin absolute0 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.AssignmentsApp {
    @include absolute0;
    top: $nav-height;

    p {
        margin: 0;
    }
}

.opened-articles ul > li {
    padding: 0 25px 0 5px;
    .item-label {
        margin-left: 3px;
    }
}

.icon--gray {
  color: $grayLight;
}

.icon--yellow {
  color: $oldGold;
}

.icn-mix__sub-icn--gray {
  color: $grayLight !important;
  background-color: transparent !important;
}
