@import '~mixins.scss';
@import '~variables.scss';
@import './events-list.scss';
@import './add-event-container.scss';
@import './add-event-form.scss';
@import './react-geosuggest.scss';
@import './coverage.scss';

$EVENTS_LIST_WIDTH: 500px;
$EDIT_PLANNING_WIDTH: 450px;

@mixin absolute0 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.Planning {
    @include absolute0;
    .navbtn { // fix the (+) button. Needed because it's not a dropdown
        overflow: hidden;
        padding: 0;
        button {border: 0;}
    }
}
.Planning__events-list {
    @include absolute0;
    padding: $nav-height * 2 20px 0 20px;
    width: $EVENTS_LIST_WIDTH;
    box-sizing: border-box;
    border-right: 3px solid #666;
    box-shadow: 2px 0 10px 0 rgba(0,0,0,.3);
}
.Planning__planning {
    @include absolute0;
    left: $EVENTS_LIST_WIDTH;
    padding-top: $nav-height * 2;
    transition-property: right;
    transition-duration: .25s;
    .subnav {
        .subnav__page-title { width: 100px; }
        select {
            top: 10px;
            position: relative;
        }
    }
    &__empty-message {
        font-size: 1.75em;
        line-height: 1.2em;
        text-align: center;
        margin-top: 40px;
    }
}
.Planning__edit-planning {
    @include absolute0;
    padding: $nav-height * 2 10px 0 10px;
    box-sizing: border-box;
    transition-property: width;
    transition-duration: .25s;
    box-sizing: border-box;
    overflow: auto;
    width: 0;
    visibility: hidden;
    left: auto;
    background-color: white;
    box-shadow: inset 2px 0 3px -1px #d8d8d8;
    .subnav {
        .close { padding: 12px 12px 0 0; }
        background-color: $sd-background;
    }
}
.Planning--edit-planning-view { // when the planning editor is open
    .Planning__edit-planning { width: $EDIT_PLANNING_WIDTH; visibility: visible; }
    .Planning__planning { right: $EDIT_PLANNING_WIDTH }
}
