.geolookup__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}
.geolookup__item--active {
  background: #267dc0;
  color: #fff;
}
.geolookup__input--nominatim {
  width: 75%;
  margin-right: 5px !important;
}
