.sortable-list__item {
    list-style-type: none;
    cursor: move;
    z-index: 1100;
    background-color: #fff;

    &--no-padding {
        padding: 0 0 0 10px !important;
    }
}

.sortable-list__item button {
    padding: 0px !important;
}

.sd-list-item-group {
    padding: 4px 4px 18px 4px;
}

.sd-list-item-group--space-between-items .sortable-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap--small);
}
