@import '~superdesk-ui-framework/app/styles/_variables.scss';
@import '~superdesk-ui-framework/app/styles/_mixins.scss';

time.Datetime {
    padding-left: 0;
}

.link {
    cursor: pointer !important;
}

.no-padding {
	padding: 0 !important;
}

.sd-line-input {
    &--no-border-bottom {
        .sd-line-input__input {
            border-bottom: none !important;
        }
    }

    &--is-select {
        cursor: pointer !important;
    }

    &--half-width {
        width: 50%;
    }
}

.select__meta-terms {
    .sd-line-input__input {
        background-color: var(--color-input-bg) !important;
    }
}

.date-time-input__row {
    .sd-line-input__input {
        background-color: var(--color-input-bg) !important;
        height: 3.2rem !important;
        padding: 0 0.8rem !important;
    }
}

.addgeolookup2 {
    .sd-line-input__input {
        background-color: var(--color-input-bg) !important;
        height: 3.2rem !important;
        padding-left: 0.8rem !important;
    }
}

.sd-list-item {
    &--margin {
        margin: 0.8rem;
    }

    &--disabled {
        opacity: 0.75;
        background-color: #ccc;
        &:hover {
            opacity: 0.75;
            background-color: #ddd;
        }

        .icn-mix__sub-icn {
            color: gray;
        }
    }
}

.sd-alert--align {
    justify-content: center;
}

.sd-list-item-group {
    &--vertical-scroll {
        overflow-y: auto;
    }
}

.terms-list {
    &--disabled {
        li {
            cursor: not-allowed !important;
            &:hover {
                color: $black;
                background-color: rgba(0,0,0,0.05);
            }
        }
    }
}

.sd-list-item__row--padding-b5 {
    padding-bottom: 5px !important;
}

.sd-collapse-box--invalid {
    .sd-collapse-box__header, .sd-collapse-box__content {
        border: 1px solid $red;
    }
}

.sd-collapse-box--autoFocus {
    &:focus {
        background-color: #f4f4f4;
    }
}

.sd-collapse-box {
    @extend .sd-collapse-box--autoFocus
}

.sd-collapse-box__content-wrapper--no-max-height {
    max-height: initial !important;
}

.sd-collapse-box__content-wraper {
    @extend .sd-collapse-box__content-wrapper--no-max-height;
}

.sd-collapse-box__inner-header {
    display: block !important;
}

.sd-collapse-box--inner-open {
    .sd-collapse-box__inner-header {
        display: none !important;
    }
}

.sd-collapse-box--open {
    .sd-collapse-box__header {
        display: block !important;
    }
}

.sd-collapse-box__tools--rightFlex {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

// This is used so the action-menu is visible
// when using tab to select an sd-list-item
.sd-list-item:focus-within {
    .sd-list-item__action-menu {
        padding: 0 0.6rem;
        width: auto;
        overflow: visible;
        opacity: 1;
    }
}

.side-panel__content-block {
    &--no-padding {
        padding: unset !important;
    }
}

.side-panel__content--with-sidebar {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: 1fr;
    .side-panel__content-block--navbar {
        grid-column: 1/2;
        grid-row: 1/2;
        overflow-y: auto;
        background-color: var(--color-bg-50);
        padding-top: 1.6rem !important;
    }

    .side-panel__content-body {
        grid-column: 2/3;
        grid-row: 1/2;
        overflow-y: auto;
    }

    .side-panel__content-block--content {
        grid-column: 2/3;
        grid-row: 1/2;
        overflow-y: auto;
    }

    &.side-panel__content--with-tabs {
        grid-template-rows: 4.8rem 1fr;

        .side-panel__content-tab-nav {
            grid-row: 1/2;
            grid-column: 1/3;
        }

        .side-panel__content-block--navbar {
            grid-row: 2/3;
        }

        .side-panel__content-block--content {
            grid-row: 2/3;
        }

        .side-panel__content-body {
            grid-row: 2/3;
        }
    }
}

.sd-list-header--m-bottom {
    margin-bottom: 1.4rem !important
}

textarea.sd-line-input__input {
    background-color: var(--color-input-bg) !important;
    padding: 0.8rem !important;

    &:focus {
        background-color: var(--color-input-bg--focus) !important;
    }
}

// Make dropdown-toggle/search button/checkboxes visibly focusable
.dropdown-toggle:focus {
    box-shadow: 0 0 0 3px rgba(94, 169, 200, 0.30);
}

.sd-searchbar__search-btn:focus {
    box-shadow: 0 0 0 3px rgba(94, 169, 200, 0.70);
}

.sd-check__wrapper:focus {
    box-shadow: 0 0 0 3px rgba(94, 169, 200, 0.30);
}
