
.EventActionConfirmation {
    .metadata-view {
        dl {
            margin-top: 0;
            > dt {
                width: 90px;
                line-height: 20px;
            }
            > dd {
                padding-left: 90px;
                line-height: 20px;
            }
        }
    }

    .spacing {
        min-height: 75px;
    }

    .sd-alert {
        overflow-y: scroll;
    }

    .timepicker--custom {
        position: relative !important;
    }

    .timepickerPopup {
        @extend .timepicker--custom;
    }

    padding: 12px;
}

