@import '~superdesk-ui-framework/app/styles/_variables.scss';

.event-toggle {
    .sd-line-input__label {
        margin-top: 0.4rem !important;
    }
}

// styles related to infinite scroll for list panel component
// 30px is for the workqueue
.sd-column-box__main-column__listpanel {
    overflow: hidden;
    .sd-column-box__main-column__items {
        overflow: auto !important;
        width: 100%;
        height: calc(100vh - (#{$nav-height} + #{$subnav-height} * 2 + 30px));
    }
    .loading-indicator{
        top: calc(#{$nav-height} + #{$subnav-height});
    }
}

.Agenda {
    &--disabled {
        color: $grayLight;
    }
}

.btn {
    &__clear-filters {
        margin-right: 1.0rem;
    }
}