@import '~superdesk-ui-framework/app/styles/_tooltips.scss';

.Link__Item {
	background-color: transparent;
	outline: none;
}

.Link__remove {
	float: right;
}

.sd-text__link {
	margin-bottom: 0px;
}

.error-block {
	color: #E51C23;
	text-transform: none;
	font-size: 13px;
	font-weight: normal;
	margin: 10px;
}

.disabledInput {
	&:hover:disabled {
		cursor: default;
	}
}

.disabledButton {
	display: none;
	&:hover {
		cursor: default;
	}
}

[data-sd-tooltip] {
	z-index: 1000 !important;
	opacity: 1 !important;
}


.Planning {
    .sd-list-item__column {
      overflow: visible !important;
    }

    .sd-list-item__row {
      overflow: visible !important;
    }

    .tooltipVisibleElement {
      overflow: visible !important;
    }
}