@import '~superdesk-core/styles/sass/variables.scss';
.Planning-panel {
    position: absolute;
    height: 100%;
    &__container {
        display: flex;
        height: calc(100% - 48px);
        .subnav {
            .subnav__page-title { width: 100px; }
            select {
                top: 10px;
                position: relative;
            }
        }
    }
    &__list {
        flex-grow: 1;
        height: 100%;
        overflow: auto;
        .list-view { box-shadow: inherit; }
    }
    .ListItem__list-item {
        width: auto; // otherwise it overflow on the right because of the margin
        margin: 10px 20px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
    }
    &__empty-message {
        font-size: 1.75em;
        line-height: 1.2em;
        text-align: center;
        margin-top: 40px;
        > i { font-size: 2em }
    }
    &__select-agenda {
        select {
            border: 0px solid black !important;
            border-radius: 0px !important;
            background-color: transparent;
            box-shadow: 0px !important;
            max-width: 200px;
        }
        flex-grow: 2;
        padding-top: 10px;
    }
}
