@import '~superdesk-core/styles/sass/variables.scss';

.Planning--edit-planning-container {
    width: 100%;
    .Planning__planning {
        display: flex;
        height: 100%;
        .subnav {
            .subnav__page-title { width: 100px; }
            select {
                top: 10px;
                position: relative;
            }
        }
        &__list {
            flex-grow: 1;
            .list-view { box-shadow: inherit; }
        }
        .ListItem__list-item {
            width: auto; // otherwise it overflow on the right because of the margin
            margin: 10px 20px;
            box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
        }
        &__empty-message {
            font-size: 1.75em;
            line-height: 1.2em;
            text-align: center;
            margin-top: 40px;
            > i { font-size: 2em }
        }
    }
    .Planning__edit-planning {
        position: relative;
        transition-property: width;
        transition-duration: .25s;
        box-sizing: border-box;
        overflow: auto;
        width: 0;
        background-color: white;
        box-shadow: inset 2px 0 3px -1px #d8d8d8;
        > *:not(header) { margin: 10px; }
    }
}
$EDIT_PLANNING_WIDTH: 450px;

.Planning--edit-planning-view { // when the planning editor is open
    .Planning__edit-planning {
        width: $EDIT_PLANNING_WIDTH;
    }
}
.Planning__edit-planning {
    .subnav {
        .close { padding: 12px 12px 0 0; }
        background-color: white;
    }
}
