@import '~superdesk-core/styles/sass/mixins.scss';
@import '~superdesk-core/styles/sass/variables.scss';
@import '~superdesk-core/styles/sass/media-archive.scss';

.Select {
	&__dropdownToggle {
  		width: 24px;
        height: 24px;
        background-color: $sd-blue;
        @include opacity(50);
        border-radius: 2px;
        padding: 0;
        i {
            margin-bottom: 2px;
        }
        &:hover:enabled, &:focus:enabled {
            @include opacity(100);
        }
  	}
}

.Select__button {
	background-color: var(--sd-colour-interactive);
}

.SearchBar--narrow {
	margin: 0px
}

.SearchBar.extended {
    @extend .SearchBar--narrow;
}

.list-items li {
    margin: 5px !important;
}

.contact-field {
    &--padding-top {
        padding-top: 25px;
    }
}

.contact-info {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: var(--gap--small) 0;
    padding: $sd-base-increment 0;
    border-radius: var(--b-radius--small);
}
.contact-info__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}
.contact-info__name {
    color: var(--color-text);
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    gap: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .contact-info__job-info {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--color-text-light);
    }
}
.contact-info__mail {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-text-light);
    font-style: italic;
}

.contact-metadata {
    margin-top: 1rem;
}

.contact-popup {
    overflow: hidden;
    margin-top: -1rem;
    margin-bottom: 2.4rem;

    .media-box.contacts {
        display: contents;
    }

    .mgrid-view {
        .media-box {
            margin: 0;
        }
    }
}

.contact-details-pane {
    &.contact-details-pane--editor {
        .action-bar {
            position: unset;
            padding: unset;
            border: none;
            height: auto;
            &.show {
                top: auto !important;
            }
        }
        .profile-info {
            overflow: unset;
        }
    }
}
