@import '~superdesk-core/styles/sass/variables.scss';

.PlanningItem{
	&__dueDate, &__event {
    	i { margin: 0 5px;}
	}
	&--locked {
		border-left: 4px solid $red;
	}
	&--has-been-cancelled {
        .PlanningItem__title { text-decoration: line-through; }
    }
}

.icon--green {
	color: $green;
}

.icon--red {
	color: $red;
}

.ReactVirtualized__Grid__list {
	overflow: visible !important;
}

.ReactVirtualized__Grid__innerScrollContainer {
	overflow: visible !important;
}
