@import '~superdesk-core/styles/sass/variables.scss';

$EVENT_LIST_CONTAINER_ZINDEX: 6;
.Events-list-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Events-list-container__header {
    z-index: $EVENT_LIST_CONTAINER_ZINDEX + 1;
}

.Events-list-container__selection {
    z-index: $EVENT_LIST_CONTAINER_ZINDEX - 1 !important;
    padding: 0 5px 0 16px;
}
.Events-list-container__body {
    display: flex;
    flex-grow: 1;
}
.Events-list-container__search {
    display: flex;
    z-index: $EVENT_LIST_CONTAINER_ZINDEX !important;
    overflow: hidden;
    .btn--primary {
        white-space: nowrap;
        margin: 10px;
    }
    .search-handler {
        padding-left: 0;
    }
    .advanced-search-open {
        width: 4.8rem;
        height: 4.8rem;
        display: inline-block;
        margin: 0;
        cursor: pointer;
        line-height: 54px;
        text-align: center;
        background: #ededed;
        transition: all .1s ease;
        overflow: hidden;
        border-right: 1px solid #dfdfdf;
        i {
            opacity: .6;
        }
    }
    .flat-searchbar {
        flex-grow: 1;
        .search-handler {
            border-right: 0;
        }
    }
}
