.item-actions-menu__popup {
    width: 200px; // Force a width so Popup knows the width of the element

    // This is used for Event ItemActions (as 'Create and Open Planning' takes up more space)
    &--wide {
        width: 250px;

        ul {
            width: 100%;
        }
    }

    .dropdown__menu {
        // Override UI-Framework values so Popup can determine proper placement
        position: relative;
        top: 0;
        display: inline-block;
        margin: 0 !important;

        // Manually set the submenu as hidden
        &--submenu-left {
            display: none;
            position: absolute;
        }
    }

    // Display the submenu on hover
    .dropdown--noarrow:hover {
        .dropdown__menu--submenu-left {
            display: inline-block;
        }
    }
}
