@import '~superdesk-core/styles/sass/mixins.scss';
@import '~superdesk-core/styles/sass/variables.scss';

// .timepicer-input and timepicker-popup classes are a part of superdesk-client-core
// unable to import '~superdesk-core/styles/sass/sf-additional.scss' because it contains a 
// reference to ~images in superdesk-client-core.
// So, temporarily copying the css classes here

.timepickerInput {
    width: auto;
    min-width: 130px;
    background-color: transparent;
    width: 80px;
    position: relative;
    display: inline-block;

    input[type="text"]{
        width: 100%;
        padding-right: 30px;
        background-color: transparent;
        padding: 0;
        height: 24px;
        &__textInput {
            background-color: transparent;
            padding: 0;
            height: 24px;
        }
        &__textInput--invalid {
            border: 2px solid #b61818 !important;
        }
        &:hover:disabled {
            cursor: default;
        }
    }

    &--btn {
        background: #fff;
        border: 0;
        top: 0px;
        position: absolute;
        right: 2px; top: 2px;
        padding: 0 5px;
        height: 24px;
        i {
            margin-right: 0;
        }
        &:hover, &:active, &:focus {
            @include box-shadow(none);
        }
        background-color: transparent;
    }
}

.timepickerPopup {
    position: absolute;
    top: 0; left: 0;
    z-index: 2000;
    background: #fff;
    padding: 10px;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.45));
    @include border-radius(3px);
    width: 200px;
    height: 320px;
    @include border-box();
    &__additional {
        margin-bottom: 5px;
        table {
            width: 100%;
            border-collapse: collapse;
            border: 0;
            td, th {
                padding: 1px;
            }
        }
        .btn {
            width: 100%;
            letter-spacing: 0;
        }
        .btn--mini {
            padding: 4px 6px;
            font-size: 11px;
            line-height: 11px!important;
            height: 20px;
        }
    }

    &__selectArea {
        margin-top: 15px;
        border-top: 1px solid #ddd;
        .header {
            margin-top: -10px;
            float: left;
            background: $white;
            text-transform: uppercase;
            color: #adadad;
            font-size: 11px;
            padding-right: 10px;
        }
        ul {
            padding-top: 15px;
            @include clearfix();
            > li {
                float: left;
                @include border-box();
                width: 28px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                margin: 0 2px 2px 0;
                @include user-select(none);
                @include border-radius(2px);
                &:hover {
                    background: $sd-hover;
                    cursor: pointer;
                }
                &.active {
                    background: $sd-blue;
                    color: $white;
                }
            }
        }
    }

    &__core {
        .btn {
            position: static;
            padding: 8px 9px;
            height: 28px;
            background: rgba(50,50,50,.25);

            &.btn--primary {
                //selected date
                color: #fff;
                background: $sd-blue;
                .text-muted {
                    color: #fff;
                }
            }
        }
        
    }
}

