.EventDateTime {
    &__divider {
        padding-left: 1rem;
    }

    time {
        padding-left: 1rem !important;
        color: #005b7f !important;
        font-weight: 500 !important;
        font-size: 1.2rem !important;
    }
}

.history-list--no-padding {
	padding: 0px !important;
}