.EventDateTime {
    &__divider {
        padding-left: 0.6rem;
    }

    time {
        padding-left: 0.6rem !important;
        color: #005b7f !important;
        font-weight: 500 !important;
        font-size: 1.2rem !important;
    }
}

.history-list--no-padding {
	padding: 0 !important;
}

.event-toggle {
    margin: 0 0 1.8rem 0;
    .sd-line-input__label {
        margin-top: 0.4rem !important;
    }
}

.sd-line-input__input--related-item-link {
    margin-right: 0.6rem;
}