.FeatureListGroup {
    height: 100%;
    overflow: auto;
    padding: 0 !important;

    &--left-border {
        border-left: 3px solid rgba(0, 0, 0, 0.25);
    }
}

.FeatureListDraggableItem {
    z-index: 1100;
    color: transparent;
    border: 1px dashed rgba(0, 0, 0, 0.4);
}

.sd-alert--no-padding {
    padding: 0px !important;
}

.grid--extra-margin {
    margin: 0 0.4rem;
}
