@import '~superdesk-core/styles/sass/variables.scss';

.events-list {
    overflow: auto;
    width: 100%;
    padding-bottom: 40px;
    &__empty-msg {
        font-size: 1.75em;
        text-align: center;
        margin-top: 40px;
    }
    &__group { margin: 0 20px; }
    &__title {
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .08em;
        margin-top: 20px;
        padding-bottom: 5px;
    }
    .media-box {
        padding-left: 0; // adapt to event (remove left padding)
    }
}
