nose
nose-timer
pep8
flake8
flake8-docstrings
pydocstyle
wooper
requests
requests-mock
icalendar==3.11.1
coverage==4.3.4
deepdiff==3.3.0
coveralls
mock
-e git://github.com/superdesk/superdesk-core.git@80826bdf#egg=Superdesk_Core
