nose
nose-timer
pep8
flake8
flake8-docstrings
pydocstyle<4.0
wooper==0.4.4
requests
requests-mock==1.8.0
icalendar>=4.0.3,<4.1
coverage==4.3.4
deepdiff
coveralls
mock
httmock==1.4.0
responses
pytest
pytest-env

-e .
# Install in editable state so we get feature fixtures
-e git+https://github.com/superdesk/superdesk-core.git@release/2.6#egg=superdesk-core
