@import '~superdesk-ui-framework/app/styles/variables/_colors.scss';

.internal-note__label {
    vertical-align: middle;
    opacity: 0.6;

    &--margin-right {
        margin-right: 0.6rem;
    }

    &--margin-left {
        margin-left: 0.6rem;
    }
}

.icon--yellow2 {
    color: $oldGold !important
}

.icon--highlight2 {
    color: $deepPink !important
}

.tooltip--text-left > .tooltip-inner {
    text-align: left !important;
}
