@import '~superdesk-core/styles/sass/variables.scss';

$ASSIGNMENT_LIST_CONTAINER_ZINDEX: 6;
.Assignments-list-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Assignments-list-container__groups {
    top: 96px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    transition: all 0.3s;
    box-sizing: border-box;
    padding: 0px 18px 18px !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 9px 0px 0px 0px;

    &--edit-view {
        margin-right: 550px;
    }
}

.Assignments-list-container__header {
    z-index: $ASSIGNMENT_LIST_CONTAINER_ZINDEX + 1;
    flex-shrink: 0;

    &__backButton {
        border-right: 1px solid #e0e0e0;
    }
}

.Assignments-list-container__selection {
    z-index: $ASSIGNMENT_LIST_CONTAINER_ZINDEX - 1 !important;
    padding: 0 5px 0 16px;
}
.Assignments-list-container__body {
    display: flex;
    margin-left: 20px;
    margin-right: 0px;
    flex-grow: 1;
    overflow: hidden;

    &--edit-in-authoring {
        margin-right: 560px;
    }
}
.Assignments-list-container__search {
    display: flex;
    z-index: $ASSIGNMENT_LIST_CONTAINER_ZINDEX !important;
    overflow: hidden;
    align-items: center;
    padding-left: 2rem;
    flex-shrink: 0;
    .search-handler {
        padding-left: 0;
    }
    .advanced-search-open {
        width: 4.8rem;
        height: 4.8rem;
        display: inline-block;
        margin: 0;
        cursor: pointer;
        line-height: 54px;
        text-align: center;
        background: #ededed;
        transition: all .1s ease;
        overflow: hidden;
        border-right: 1px solid #dfdfdf;
        i {
            opacity: .6;
        }
    }
    .flat-searchbar {
        flex-grow: 1;
        .search-handler {
            border-right: 0;
        }
    }
    .sortbar {
        select { 
            margin-top: 10px;
        }
    }
}
