@import '~superdesk-core/styles/sass/mixins.scss';
@import '~superdesk-core/styles/sass/variables.scss';
@import '~superdesk-core/styles/sass/forms.scss';

.day-picker-input {
    position: relative;
    .react-datepicker__input-container {width: 100px;} // day selector
    .day-picker-input__error {
    	color: #E51C23;
    	text-transform: none;
    	font-size: 13px;
    	font-weight: normal;
    }
}
