
.ItemActionConfirmation {
    .metadata-view {
        dl {
            margin-top: 0;
            > dt {
                line-height: 20px;
            }
            > dd {
                padding-left: 90px;
                line-height: 20px;
            }
        }
    }

    .spacing {
        min-height: 75px;
    }

    .sd-alert {
        overflow-y: scroll;
    }

    .timepicker--custom {
        position: relative !important;
    }

    .timepickerPopup {
        @extend .timepicker--custom;
    }
    padding: 12px;

    &__metadata {
        &__dataRow {
            display: table;
        }

        border-bottom: none;

        time {
            color: #333;
            font-weight: normal;
        }

        &__slugline {
            color: #005b7f !important;
        }
    }

    .sd-line-input--label-left--noMaxWdth {
        max-width: none;
        min-width: 15rem;
    }
}
