@import '~superdesk-core/styles/sass/variables.scss';
$EDIT_PLANNING_WIDTH: 450px;

.Planning__edit-planning {
    position: relative;
    transition-property: width;
    transition-duration: .25s;
    box-sizing: border-box;
    overflow: auto;
    width: 0;
    background-color: white;
    box-shadow: inset 2px 0 3px -1px #d8d8d8;
    > *:not(header) { margin: 10px; }
    & > header {
        border-bottom: 1px solid #cbcbcb;
        padding: 10px;
        margin-bottom: 20px;
        color: $sd-text-label;
        .close {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
}

.Planning-panel--edit-planning-view { // when the planning editor is open
    .Planning__edit-planning {
        width: $EDIT_PLANNING_WIDTH;
    }
}
