@import '~superdesk-core/styles/sass/mixins.scss';
@import '~superdesk-core/styles/sass/variables.scss';

.ColoredValueSelect {
    &__input {
        padding-top: 10px;
    }

    &__popup {
        position: relative;
        z-index: 2000;
        background: #fff;
        padding: 10px 10px 10px 10px;
        @include box-shadow(0 0 5px 0 rgba(0,0,0,0.45));
        @include border-radius(3px);
        max-width: 200px;
        @include border-box();

        button {
            padding: .6rem 1.6rem;
            width: 100%;
            text-align: left;

            &:hover {
                background: $sd-hover;  
            }
        }
    }
}
