@import '~superdesk-core/styles/sass/variables.scss';
$EDIT_ASSIGNMENT_WIDTH: 450px;

.EditAssignmentPanel {
    display: flex;
    flex-direction: column;
    position: relative;
    transition-property: width;
    transition-duration: .25s;
    box-sizing: border-box;
    width: 0;
    background-color: white;
    box-shadow: inset 2px 0 3px -1px #d8d8d8;
    & > header {
        border-bottom: 1px solid #cbcbcb;
        border-top: 1px solid #cbcbcb;
        padding: 10px;
        color: $sd-text-label;
        display: flex;
        align-items: center;
    }

    .label {
        margin-right: 10px;
    }
}
.TimeAndAuthor {
    margin: 15px 0px 10px 0px;
    color: $sd-text-label;
    display: inline-block;   
    &__author {
        color: initial;
    }
}
.EditAssignmentPanel__actions {
    white-space: nowrap;
    position: absolute;
    right: 0px;
    &__edit {
        right: 10px;
    }
}
.EditAssignmentPanel__body {
    overflow: auto;
    padding: 20px;
}
.Assignments-list-container__body--edit-assignment-view { // when the assignment editor is open
    .EditAssignmentPanel {
        width: $EDIT_ASSIGNMENT_WIDTH;
    }
}
.history-preview {
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}
.close-history {
    margin: 15px;
}
