@import '~superdesk-ui-framework/app/styles/_mixins.scss';
@import '~superdesk-ui-framework/app/styles/_variables.scss';

.Select {
	&__dropdownToggle {
  		width: 24px;
        height: 24px;
        background-color: $sd-blue;
        @include opacity(50);
        border-radius: 2px;
        padding: 0;
        i {
            margin-bottom: 2px;
        }
        &:hover:enabled, &:focus:enabled {
            @include opacity(100);
        }
  	}
}

.Select__button {
	background-color: $sd-blue;
}

.Select__popup {
    z-index: 2000;
    width: 280px;
    @include border-box();

    &__group {
        font-weight: 500;
    }

    &__search {
        margin-top: 0 !important;
    }

    &__category {
        &:hover .Select__popup__parent {
        	display: none;
        }

        &:hover .Select__popup__parent--choose {
			display: block;
        }
    }

    &__list {
		overflow-y: auto !important;
		overflow-x: hidden;
		max-height: 200px;
		padding: 5px 0px !important;
    }

    &__item {
    	margin: 0 !important;
        padding-left: 0 !important;
        background-color: transparent !important;
        button {
            width: 100%;
            // text-overflow: ellipsis;
            // overflow: hidden;
            // white-space: nowrap;

            padding: 0.5rem 1rem;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--color-text);
            transition: all ease 0.2s;
            min-height: 3.2rem;

            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 0.2s ease;
            i {
                color: var(--color-icon-default);
                opacity: 0.5;
            }
            &:hover {
                background: var(--sd-colour-interactive--alpha-20);
            }
            &:active {
                background: var(--sd-colour-interactive--alpha-30);
            }
        }

        &--no-group {
            padding: 0px !important;
        }
    }

    &__parent {
	    display: block;
        position: relative;
        font-size: 12px;
        color: var(--color-text);
        background-color: rgba(0,0,0,0.05);
        margin-right: 3px;
        margin-bottom: 3px;
        padding: 3px 10px;
        cursor: pointer;
        border-radius: 2px;
        @include transition(color, .2s, ease);
        max-width: 200px;

        &--choose {
        	background-color: rgba(0,0,0,0.05);
        	margin-right: 3px;
	        margin-bottom: 3px;
	        padding: 3px 10px;
			display: none;
		}
	}

	// SearchBar related styling customisations
    .search-handler {
        position: relative;
        z-index: 1;
        padding: 0;
        height: 42px !important;
        display: flex;
        align-items: center;
        gap: 8px;
        border-bottom: 1px solid var(--sd-colour-line--light) !important;
        box-shadow: none !important;

        .backlink {
            cursor: pointer;
            margin-left: 5px;
        }
    }

    .trigger-icon {
    	margin-top: 0;
        pointer-events: none !important;
    }

    .search-close {
    	height: 30px;
    }
}
.Select__popup__search {
    .SearchBar.extended {
        .search-handler {
            position: relative;
            z-index: 1;
            padding: 0;
            height: 42px !important;
            display: flex;
            align-items: center;
            gap: 8px;
            padding-inline: 8px;
            border: none !important;
            border-bottom: 1px solid var(--sd-colour-line--light) !important;
            box-shadow: none !important;
            .trigger-icon {
                margin: 0;
            }
        }
    }
}

.SearchBar--narrow {
	margin: 0;
}

.SearchBar.extended {
    @extend .SearchBar--narrow;
}

// Required to make the SelectMetaTermsInput the same as the
// UI prototype
.select__meta-terms {
    div.sd-line-input__input {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        height: auto;
        min-height: 3.2rem !important;
        padding-left: 3rem !important;
    }

    .sd-line-input__plus-btn {
        margin: 0!important;
        margin-inline-start: 3px !important;
        margin-block-start: 3px !important;
    }

    &--disabled {
        div.sd-line-input__input {
            padding-left: 0;
        }
    }

    .terms-list {
        padding-top: 3px;
    }
}

.sd-line-input__plus-btn--disabled {
    background-color: hsla(214, 13%, 55%, 0.3) !important;
    opacity: 0.5;
    pointer-events: none;
    cursor: default !important;
}
