@import '~superdesk-core/styles/sass/variables.scss';

.AssignmentPreview {
    .priority-label {
        margin-right: 0.6rem;
        vertical-align: middle;
    }

    .side-panel__top-tools {
        min-height: 52px;
    }

    &__coverage-icon {
        opacity: 0.6;
        vertical-align: middle;
        margin-right: 0.6rem;
    }

    &__scheduled {
        color: $sd-text-label !important;
        font-weight: 500;
        &--padding {
            padding: 0 0.6rem;
        }
    }

    .addgeolookup {
        display: table;
        &__input-wrapper {
            display: table-cell;
            width: 100%;
            padding: 5px 10px 0 0;
        }
        &__suggests-wrapper {
            display: table-row;
        }
    }

    textarea {
        border: 0;
        background-color: white !important;
        resize: none;
        cursor: text !important;
        margin: 0;
        padding: 0;
    }

    .TimeAndAuthor {
        margin: 0;
    }

    .toggle-box {
        margin-bottom: 0;
    }

    .sd-list-item__row:last-child {
        margin: 0.6rem 0 0 0;
    }

    .sd-list-item__row {
        &:last-child {
            margin: 0.6rem 0 0 0;
        }
        &--no-margin {
            margin: 0px !important;
        }
        &--margin-top {
            margin: 0.6rem 0 0 0;
        }
    }

    .sd-list-item__column {
        &--justify-top {
            justify-content: flex-start;
        }
        &--no-padding {
            padding: 0px !important;
        }
    }
    .avatar {
        background: #67afa1;
    }

    .EventDates {
        .form__row-item {
            time {
                color: $grayDark;
                font-weight: 400;
            }
        }
    }
}
