.ManageAgendasModal {
    .btn--primary {
        margin-bottom: 10px;
    }

    .ActiveAgendas {
        padding-bottom: 20px;
    }

    .pills-list {
        padding-bottom: 0;
        clear: both;
    }
}
