@import '~superdesk-core/styles/sass/mixins.scss';
@import '~superdesk-core/styles/sass/variables.scss';

.coverageassign {
	margin-top: 15px;
	height: 45px;

	&:hover {
		background: #e3f1f6;
	}

	&:hover  &__action{
		opacity: 0.8;
	}

	&__avatar {
		height: 5rem;
		width: 5rem;
	}
}

.coverageassignselect {
    position: absolute;
    top: 60px; left: 100px;
    z-index: 2000;
    background: #fff;
    padding: 10px;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.45));
    @include border-radius(3px);
    width: 300px;
    @include border-box();

    &__label {
    	padding-top: 5px;
		display: inline-block;
		width: 200px;
		text-align: left;	
    }

    &__list {
    	li {margin: 5px 0;}
		overflow-y: scroll;
		max-height: 200px;
		margin-top: 5px;
    }

    &__item {
    	margin: 5px;
		&:hover {
			background: $sd-hover;
		}
    }

    &__search {
    	@include box-shadow(0 0 5px 0 rgba(0,0,0,0.45));
	    @include border-radius(3px);
	    @include border-box();
    }
}

.coverageassign__action {
	opacity: 0;
}

.initials{
	&.coverageassign__initials {
		background: #67afa1;
	}
}
