.planning-profile-form {
    display: flex;
    flex-direction: column;
    height: 100%;

    .sd-nav-tabs__pane {
        height: 100%;
    }

    .sd-column-box--2 {
        height: 100%;
    }

    .sd-nav-tabs__content {
        padding: 0;
        padding-top: 0.1rem;
    }

    .sd-list-item {
        .profile-item__add-btn {
            display: flex;
            justify-content: center;
            width: 100%;
            position: absolute;
            top: -19px;

            &--bottom {
                top: unset;
                bottom: -17px;
            }
        }

        .btn--icon-only-circle {
            opacity: 0.25;
            transition: opacity 0.2s ease-out;
        }

        .btn--icon-only-circle:hover {
            opacity: 1;
        }

        .sd-text__strong {
            user-select: none;
        }
    }

    .sd-list-item--draggable {
        .label--alert {
            cursor: grab;
        }
    }

    .side-panel--right {
        width: 50%;
    }

    .planning-profile__empty-list {
        display: flex;
        justify-content: center;
    }
}

.toggle-box--no-line {
    .toggle-box__line {
        background: none;
    }
}

body > .sd-list-item--draggable {
    z-index: 1060;

    .btn--icon-only-circle {
        display: none;
    }
}
