.ManageAgendasModal .pills-list {
    padding-top: 20px;
    clear: both;
    li {
        box-sizing: content-box;
        display: flex;
        .last-updated {
                white-space: nowrap;
        }
    }
}
