@import '~superdesk-core/styles/sass/variables.scss';
.Planning-panel {
    position: absolute;
    height: 100%;
    .subnav {
        box-shadow: inset 7px 0 10px -7px rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid #bfbfbf;
    }
    > .subnav {
        background-color: #dedede;    
    }
    .subnav__page-title {
        flex-grow: 0;
        padding: 1rem 1rem 1rem 2rem;
        font-weight: 300;
    }
    &__container {
        display: flex;
        z-index: 1;
        position: absolute;
        top: $nav-height;
        right: 0;
        left: 0;
        bottom: 0;
        .Planning__advanced-search {
            float: left;
        }
    }
    &__searchbar {
        .SearchBar {
            flex-grow: 1;
            + label {
                margin-left: 20px;
            }
        }
        > label {
            margin: 15px;
            white-space: nowrap;
            .sd-toggle {
                margin-left: 10px;
            }
        }
        .advanced-search-open {
            width: 4.8rem;
            height: 4.8rem;
            display: inline-block;
            margin: 0;
            cursor: pointer;
            line-height: 54px;
            text-align: center;
            background: #ededed;
            transition: all .1s ease;
            overflow: hidden;
            border: 1px solid #dfdfdf;
            border-left: 0px;
            border-top: 0px;
            i {
                opacity: .6;
            }
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
        > .list-view {
            overflow: auto;
            box-shadow: inherit;
            position: absolute;
            top: $nav-height;
            right: 0;
            left: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            .PlanningList {
                flex: 1 1 auto;
            }
        }
    }
    .ListItem {
        width: auto; // otherwise it overflow on the right because of the margin
        margin: 10px 20px;
    }
    &__empty-message {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 1.8rem;
        line-height: 160%;
        text-align: center;
        margin-top: 70px;
        > i { font-size: 2em }
    }
    &__select-agenda {
        height: 100%;
        select {
            border: 0px solid black !important;
            border-radius: 0px !important;
            background-color: transparent;
            box-shadow: 0px !important;            
            font-size: 1.6rem;
            height: 100%;
            padding: 0 .4rem;
            &:hover {
                background-color: rgba(255,255,255, .7);
                cursor: pointer;
            }
            option {
                font-size: 1.3rem;
            }
        }
    }

    label {
        display: block;
        margin-left: 0;
    }

    .Toggle {
        margin-right: 15px;
    }

    &--edit-planning-view {
        .PlanningList {
            margin-right: 450px;
        }
    }
}

.Planning-panel__list--advanced-search-view {
    .PlanningList {
        margin-left: 360px;
    }
}
