.event {
    border-left: 4px solid #bababa;
    box-sizing: border-box;
    &--has-planning {
        border-left: 4px solid #00aa4d;
    }
    &--has-been-canceled {
        .event__title { text-decoration: line-through; }
    }
}
