.ListItem__list-item {
    .media-box {
        .item-info {
            .line { margin-left: 0; }
            .highlights-box { margin-right: 0; }
            // second line, with location and icons
            .line:nth-child(2) { .container { flex-grow: 1 } }
        }
        &:hover {
            .item-info { padding: 10px 10px 10px 10px; }
            .ListItem__actions { visibility: visible; }
        }
    }
}

.ListItem__actions {
    position: absolute;
    right: 0px;
    top: 0px;
    visibility: hidden;
    height: 60px;
    padding-top: 20px;
    padding-left: 17px;
    padding-right: 15px;
    &:hover {
        i { color: #436278 }
    }
}

.ListItem__list-item:not(.active) .ListItem__actions { background-color: #dededecc }
.ListItem__list-item.active .ListItem__actions { background-color: #c8e4eecc }
