@import '~superdesk-core/styles/sass/variables.scss';

.ListItem__slugline {
    color: $sd-keyword;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 1rem;
}
.ListItem__headline { color: $grayDark; }
