.lock-container {
    &__popup {
        min-width: 200px;
        min-height: 153px;

        .btn {
            width: 100%;
        }

        .avatar {
            display: inline-block;
            margin: 10px 0;
            float: none;
        }

        figure, div {
            text-align: center;
        }
    }
}
