@import '~superdesk-core/styles/sass/variables.scss';

.quick-add-planning {
    background-color: $grayLight;
    padding: 10px;
    font-size: 1.2em;
    display: flex;
    > form { flex-grow: 1 }
    > form input[type="text"], > i { color: $white }
    > form input[type="text"] {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
        &:hover {
            box-shadow: 0 1px 0 0 $white !important;
            border-color: $white !important;
        }
    }
    > i {
        font-size: 1.4em;
        margin: 4px 5px;
        left: -6px;
        position: relative;
        cursor: pointer;
    }
}
