@import '~superdesk-core/styles/sass/variables.scss';

.EventForm {
    > .subnav {
        .subnav__button-stack--square-buttons { margin: 0; }
        .navbtn { // back button
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            border-left: 0;
            button { background-color: transparent; }
        }
        button[type="submit"] { // save button
            margin-top: 10px;
            margin-right: 10px;
        }
    }
    label { margin-top: 10px; }
    .geolookup {
        display: table;
        &__input-wrapper {
            display: table-cell;
            width: 100%;
        }
        &__suggests-wrapper {
            display: table-row;
        }
    }
    // sub form to define a recurring date
    .recurring {
        &__ends {
            label { display: block }
            input[type="radio"] {
                margin-right: 10px;
                cursor: default; // is readonly but we don't want the forbidden cursor
            }
            input[type="text"],input[type="number"] {
                margin: 0 10px;
                width: 100px;
            }
        }
    }

    &__form {
        padding: 20px;
        margin-top: $nav-height;
        overflow: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

}
